body {
    font-family: Arial, sans-serif;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    /* background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
}

.form-container label {
    margin-top: 10px;
    font-weight: bold;
    color: #D1D1D4;

}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 2px solid #D1D1D4;
}

.form-container button {
    background-color: #589e34;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #589e34;
}

.form-container .swap-button {
    text-align: center;
    margin-top: 10px;
}

.form-container .swap-button a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.color,
.text-white {
    color: white;
}

.mt,
.mb,
.mr {
    margin-top: 10px;
}

.mr {
    margin-right: 10px;
    font-size: 22px;
}

::placeholder {
    color: black;

}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.bg-transparent {
    background-color: transparent !important;
}

.input-group-text {
    border: 0px solid #ced4da;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    /* border: 1px solid #ced4da; */
    border-radius: .25rem;
}

/* new form */



/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Style the form icons */
.icon {
    padding: 15px;
    /* background: dodgerblue; */
    color: white;
    min-width: 50px;
    text-align: center;
    /* background-color: transparent; */
}

/* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    /* background: transparent; */
    border: 0;
    border-bottom: 2px solid #D1D1D4;
}

.dt {

    background: transparent;
}

/* .input-field:focus {
    border: 2px solid dodgerblue;
} */

/* Set a style for the submit button */
.btn {
    /* background-color: dodgerblue; */
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    background-color: transparent;
}

.btn:hover {
    opacity: 1;
}

.forgot {
    color: #ebfaf9;
    margin-top: 15px;
    text-align: end;
}